<div class="row">
  <div class="small-12 large-12 columns">
    <div class = "row">
      <div class="small-12 large-12 columns">
        <% if current_user.image? %>
          <%= image_tag(current_user.image_url(:thumb), class: "th") %>
        <% elsif !current_user.fb_profile_pic.nil? %>
          <%= image_tag (current_user.fb_profile_pic), :size => "70x70", :class => "th" %>
        <% else %>
          <%= image_tag("default-profile-photo.png", size: "70x70", class: "th") %>
        <% end %>
		    <h3><%= current_user.name %></h3>
		    <hr>
	    </div>
	  </div>

    <div class = "row">
      <div class="small-6 large-6 columns">
        <%= render 'form' %>
      </div>
      <div class="small-6 large-6 columns">
        <%= render 'map' %>
      </div>
	  </div>
	  
  </div>
</div>
