<%= render :partial => "shared/left_navigator", :locals => {:current_link => "adv_search"} %>
<div class="content-section">
	<h1 class="content-title tjob"> <i>&nbsp;</i> Advance Search</h1>
	<% if params[:search_type].nil? %>
	  <h2>Search Jobs</h2>
    <%= form_tag advance_search_path, :method => "get" do |f| %>
      <%= hidden_field_tag :search_type, "#{params[:search_type]}", :value => "jobs"  %>
      Title : <%= text_field_tag :title_cont,"#{params[:title]}",  :class => 'inputdetails' %> </br>
      Address : <%= text_field_tag :address,"#{params[:address]}",  :class => 'inputdetails' %></br>
      Salary : <%= text_field_tag :salary,"#{params[:salary]}",  :class => 'inputdetails' %></br>
      Working Days : <%= text_field_tag :working_days,"#{params[:working_days]}",  :class => 'inputdetails' %></br>
      Date : <%= text_field_tag :date,"#{params[:date]}",  :class => 'inputdetails datepickers' %></br>
      <%= submit_tag("Search", :class => "btn search")%>
    <% end %>
    <%= search_form_for @search do |f| %>
      <%= f.hidden_field :search_type, "jobs"%>
      <%= f.label :title_cont, "Title contains" %>
      <%= f.text_field :title_cont %>
      <%= f.submit "Search" %>
    <% end %>

	<% else %>
	  <hr class="divider">
	  <hr style="height:20px">
    <div>
      <% if @jobs.present? %>
        <table class="joblisting">
          <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Salary Per Day</th>
            <th>Start Date</th>
            <th>How Many Days</th>
            <th></th>
          </tr>
          <% @jobs.each do |job| %>
            <tr>
              <td><%= job.title %></td>
              <td><%= job.address.truncate(50) %></td>
              <td>
                  <% if job.salary == 0 || job.salary.nil? %>
                    N/A
                  <% else %>
                    <%= number_to_currency(job.salary, :format => "RM %n") %>
                  <% end %>
              </td>
              <td><%= job.date.to_date %></td>
              <td><%= job.day_amount %> Days</td>
              <td class='details-more'><%= link_to 'Apply', job %></td>
            </tr>
          <% end %>
        </table>
      <% elsif @search_user.present? %>
        <table class="joblisting">
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
          <% @search_user.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td class='details-more'><%= link_to 'Show', user_accounts_path(user.username) %></td>
            </tr>
          <% end %>
        </table>
      <%else%>
        Your search <b><%= params[:search] %></b> did not match any documents. Please try different keywords.
      <% end %>
    </div>
   <% end %>
</div>

