<h1>Search result</h1>

<%if @search_job.count != 0 %>
  <table class="table table-condensed">
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Salary Per Day</th>
      <th>Start Date</th>
      <th>How Many Days</th>
      <th></th>
    </tr>
    <% @search_job.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.location %></td>
        <td>
            <% if job.salary == 0 || job.salary.nil? %>
              N/A
            <% else %>
              <%= number_to_currency(job.salary, :format => "RM %n") %>
            <% end %>
        </td>
        <td><%= job.date.to_date %></td>
        <td><%= job.day_amount %> Days</td>
        <td><%= link_to 'Apply', job, :class => "btn btn-primary" %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <table class="table table-condensed">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <% @search_user.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to '?????????', root_path, :class => "btn btn-primary" %></td>
      </tr>
    <% end %>
  </table>
<% end %>

