<div class="row">
  <div class="small-12 large-12 columns">
    <%= form_tag search_path, :method => "get" do |f| %>
      <fieldset>
        <legend>Search</legend>
          <div class="row">
            <div class="small-9 columns">
              <%= text_field_tag :search,"#{params[:search]}", :placeholder => 'You can search for any keyword' %>
            </div>
            <div class="small-3 columns">
              <%= submit_tag("Search", :class => "button prefix")%>
            </div>
          </div>
      </fieldset>
    <% end %>
  </div>
</div>
<div class = "row">
  <div class="small-12 large-12 columns">
    <h2>Search result</h2>
    <hr>
    <% if @search_job.present? %>
      <table class="joblisting">
        <tr>
          <th>Title</th>
          <th>Location</th>
          <th>Salary Per Day</th>
          <th>Start Date</th>
          <th>How Many Days</th>
          <th></th>
        </tr>
        <% @search_job.each do |job| %>
          <tr>
            <td><%= job.title %></td>
            <td><%= job.address.truncate(50) %></td>
            <td>
                <% if job.pay.nil? || job.pay == 0 %>
                  N/A
                <% else %>
                  <%= number_to_currency(job.pay, :format => "RM %n") %>
                <% end %>
            </td>
            <td><%= job.date.to_date %></td>
            <td><%= job.day_amount %> Days</td>
            <td class='details-more'><%= link_to 'Apply', job %></td>
          </tr>
        <% end %>
      </table>
    <% elsif @search_user.present? %>
      <table class="joblisting">
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
        <% @search_user.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td class='details-more'><%= link_to 'Show', user_accounts_path(user.username) %></td>
          </tr>
        <% end %>
      </table>
    <%else%>
      Your search <b><%= params[:search] %></b> did not match any documents. Please try different keywords.
    <% end %>
  </div>
</div>
