<div class="wizard-progress-bar">

	<div class="step <%= 'active' if step == 'details'%>">
	  <%= link_to edit_user_account_path(current_user) do %>
	  <%= image_tag('progress-icon-01a.png', :size => '20x20')%>
		<p>Details</p>
		<% end %>
	</div>

	<div class="step <%= 'active' if step == 'experience'%>">
	  <%= link_to user_experience_path(current_user) do %>
	  <%= image_tag('progress-icon-02.png', :size => '20x20')%>
		<p>experience</p>
		<% end %>
	</div>

	<div class="step <%= 'active' if step == 'ratings'%>">
		<%= link_to user_account_reviews_path(current_user) do %>
		<%= image_tag('progress-icon-03.png', :size => '20x20') %>
		<p>ratings</p>
		<% end %>
	</div>

	<div class="step <%= 'active' if step == 'map'%>">
		<%= link_to user_map_path(current_user) do %>
		<%= image_tag('progress-icon-04.png', :size => '20x20') %> 
		<p>map</p>
		<% end %>
	</div>

</div>	
