<div class="row">
  <div class="small-12 large-12 columns">
	  <h2>My Application</h2>
	  
	  <div class="row">
	    <div class="small-12 large-12 columns">
	      <h3>Pending</h3>
		    <table class="joblisting">
			    <tr>
				    <th>Position</th>
				    <th>Address</th>
				    <th>Pay Per Day</th>
				    <th>Start Date</th>
				    <th>Work how many days?</th>
				    <th>Details</th>
			    </tr>
			    <% @pending.each do |application| %>
			      
            <tr>
              <td><%= application.job.title %></td>
              <td><%= application.job.address.truncate(30) %></td>
              <td>
                  <% if application.job.pay.blank? %>
                    N/A
                  <% else %>
                    <%= number_to_currency(application.job.pay, :format => "RM %n") %>
                  <% end %>
              </td>
              <td><%= application.job.date.strftime('%d-%m-%Y') if application.job.date.present? %></td>
              <td><%= application.job.day_amount %> Days</td>
              <td class='details-more'><%= link_to 'See More »', application.job %></td>
            </tr>
          <% end %>
		    </table>
	      <hr>
	    </div>
	  </div>

	  <div class="row">
	    <div class="small-12 large-12 columns">
	      <h3>Approved</h3>
		    <table>
			    <tr>
				    <th>Title</th>
				    <th>Address</th>
				    <th>Pay Per Day</th>
				    <th>Start Date</th>
				    <th>Work how many days?</th>
				    <th>Details</th>
			    </tr>
			    <% @approved.each do |job| %>
            <tr>
              <td><%= job.title %></td>
              <td><%= job.address.truncate(30) %></td>
              <td>
                  <% if job.pay == 0 || job.pay.nil? %>
                    N/A
                  <% else %>
                    <%= number_to_currency(job.pay, :format => "RM %n") %>
                  <% end %>
              </td>
              <td><%= job.date.strftime('%d-%m-%Y') if job.date.present? %></td>
              <td><%= job.day_amount %> Days</td>
              <td class='details-more'><%= link_to 'See More', job %></td>
            </tr>
          <% end %>
		    </table>
	      <hr>
	    </div>
	  </div>

	  <div class="row">
	    <div class="small-12 large-12 columns">
	      <h3>Rejected</h3>
		    <table>
			    <tr>
				    <th>Title</th>
				    <th>Reason</th>
				    <th>Details</th>
			    </tr>
			    <% @rejected.each do |reject| %>
            <tr>
              <td><%= reject.job.title %></td>
              <td><%= reject.reject_reason %></td>
              <td class='details-more'><%= link_to 'See More', reject.job %></td>
            </tr>
          <% end %>
		    </table>
		  </div>
		</div>
		
	  </div>
  </div>	
</div>


