<%= render :partial => "account_menu" %>
<h2>Edit Account</h2>

<%= simple_form_for(@user, :url => user_account_path(@user), :html => { :method => :put, :multipart => true, :class => "form-horizontal" }) do |f| %>

  <%= f.input :email %>
  <%= f.input :name %>
  <%= f.input :username %>
  <%= f.input :password, :hint => "leave blank if you don't want to change it" %>
  <%= f.input :password_confirmation %>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes" %>
  <%= f.input :address %>
  <%= f.input :coordinates_latitude %>
  <%= f.input :coordinates_longitude %>
  <%= f.input :contact_mobile %>
  <%= f.input :contact_home %>
  <%= f.input :gender, :collection => [["Male", "Male"], ["Female", "Female"]], :prompt => false %>
  <%= f.input :dob, :label => "Date of Birth", :as => :date, :start_year => Date.today.year - 90, :end_year => Date.today.year - 12, :order => [:day, :month, :year], :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'} %>
  <%= f.input :nationality %>
  <%= f.input :ic_number %>
  <% if f.object.cover_image_uid %>
    <%= image_tag f.object.cover_image.thumb('100x100').url %>
  <% end %>
  <div class="control-group string optional">
    <%= f.label :cover_image, "Photo", :class => "string optional control-label", :for=>"user_contact_mobile" %>
    <div class="controls"><%= f.file_field :cover_image, :class => "string optional" %></div>
  </div>

  <div class="form-actions">
    <%= f.submit "Update", :class => "btn btn-primary"%>
    <%= link_to "Back", :back, :class => "btn btn-info" %>
  </div>
<% end %>

<%= link_to "Cancel my account", registration_path(@user), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger" %>



<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBKCYyYFzM8EnWRKrX62dXCoaY4qjJNN0U&sensor=true">
</script>

<script type="text/javascript">
  function initialize(latitude,longitude) {
    geocoder = new google.maps.Geocoder();
    var myLatlng = new google.maps.LatLng(latitude,longitude);
    var myCoordsLenght = 6;
    var mapOptions = {
      center: new google.maps.LatLng(latitude,longitude),
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        draggable: true,
        title:"Is your location here?"
    });
    
    google.maps.event.addListener(marker, 'dragend', function(evt){
      var latlng = new google.maps.LatLng(evt.latLng.lat(), evt.latLng.lng());
      $('#user_coordinates_latitude').val(evt.latLng.lat().toFixed(myCoordsLenght));
      $('#user_coordinates_longitude').val(evt.latLng.lng().toFixed(myCoordsLenght));
      initialize(evt.latLng.lat().toFixed(myCoordsLenght), evt.latLng.lng().toFixed(myCoordsLenght));
      
      geocoder.geocode({'latLng': latlng}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results[0]) {
            $('#user_address').val(results[0].formatted_address);
          }
        } else {
          alert("Geocoder failed due to: " + status);
        }
      });
      
    });
    map.setCenter(marker.position);
    marker.setMap(map);
  }

  function showPosition(position)
    {
    $('#user_coordinates_latitude').val(position.coords.latitude);
    $('#user_coordinates_longitude').val(position.coords.longitude);
    initialize(position.coords.latitude, position.coords.longitude);
    }
  
  $(function ()
      {
       showPosition({coords:{longitude: <%= @coordinates_longitude  %>,latitude: <%= @coordinates_latitude %> }}); 
      if (navigator.geolocation)
        {
        navigator.geolocation.getCurrentPosition(showPosition);
        }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
      
      }
    )
</script>


<div id="map_canvas" style="width:500px; height:500px;"></div>

