<%= render :partial => "shared/left_navigator", :locals => {:current_link => "edit"} %>
<div class="content-section">
  <%= render :partial => "account_menu",:locals =>{ :step => 'details'} %>

	<div class="pro-header clear">
		<h1 class="content-title tinfo"> <i>&nbsp;</i> Edit Details </h1>
    <% if !current_user.cover_image_uid.nil? %>
      <%= image_tag (current_user.cover_image.url), :size => "68x64", :class => "profile-img" %>
    <% elsif !current_user.fb_profile_pic.nil? %>
      <%= image_tag (current_user.fb_profile_pic), :size => "68x64", :class => "profile-img" %>
    <% else %>
      <%= image_tag("default-profile-photo.png", :size => "68x64", :class => "profile-img")%>
    <% end %>
		<h2 class="profile-title"><%= current_user.name %></h2>
		<hr class="divider">
	</div>

	<div class="pro-details">
    <%= simple_form_for(@user, :url => user_account_path(@user), :html => { :method => :put, :multipart => true, :class => "form-horizontal" }) do |f| %>

      <%= f.input :email, :input_html => { :class => 'inputdetails' }, :wrapper => false  %>
      <%= f.input :name, :input_html => { :class => 'inputdetails' } %>
      <%#= f.input :username, :input_html => { :class => 'inputdetails' } %>
      <%#= f.input :password, :hint => "leave blank if you don't want to change it", :input_html => { :class => 'inputdetails' } %>
      <%#= f.input :password_confirmation, :input_html => { :class => 'inputdetails' } %>
      <%#= f.input :current_password, :hint => "we need your current password to confirm your changes", :input_html => { :class => 'inputdetails' } %>
      <%= f.input :address, :input_html => { :class => 'inputdetails' } %>
      <%= f.input :coordinates_latitude, :input_html => { :class => 'inputdetails' } %>
      <%= f.input :coordinates_longitude, :input_html => { :class => 'inputdetails' } %>
      <%= f.input :contact_mobile, :input_html => { :class => 'inputdetails' } %>
      <%= f.input :contact_home, :input_html => { :class => 'inputdetails' } %>
      <%= f.input :gender, :collection => [["Male", "Male"], ["Female", "Female"]], :prompt => false, :input_html => { :class => 'inputdetails' } %>
      <%= f.input :dob, :label => "Date of Birth", :as => :date, :start_year => Date.today.year - 90, :end_year => Date.today.year - 12, :order => [:day, :month, :year], :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}, :input_html => { :class => 'inputdetails' } %>
      <%= f.input :nationality, :input_html => { :class => 'inputdetails' } %>
      <%= f.input :ic_number, :input_html => { :class => 'inputdetails' } %>
      <% if f.object.cover_image_uid %>
        <%= image_tag f.object.cover_image.thumb('100x100').url %>
      <% end %>
      <%= f.label :cover_image, "Photo", :class => "string optional control-label", :for=>"user_contact_mobile" %>
      <%= f.file_field :cover_image, :class => "string optional" %>
      <hr style="height:20px;">
      <%= button_tag(type: 'submit', class: "btn save") do %>
        <span>save</span>
      <% end %>
      <%= link_to :back, :class => "btn back" do%>
        <span>back</span>
      <% end %>
      <%= link_to raw("<span>cancel my account</span>"), registration_path(@user), :confirm => "Are you sure?", :method => :delete, :class => "btn cancel fright" %>
    <% end %>
	</div>
	<%= render 'map' %>
</div>



