<h2>My Details</h2> <%=link_to "Edit my details", edit_user_registration_path, :class => "btn btn-primary"%>

<table class = "table table-condensed">
  <tr>
    <th>Name</th><td><%= @user.name%></td>
  </tr>
  <tr>
    <th>Email</th><td><%= @user.email%></td>
  </tr>
  <tr>
    <th>Location</th><td><%= @user.address_street2%></td>
  </tr>
  <tr>
    <th>Contact</th><td><%= @user.contact_mobile%></td>
  </tr>
  <tr>
    <th>DOB</th><td><%= @user.dob%></td>
  </tr>
  <tr>
    <th>Gender</th><td><%= @user.gender%></td>
  </tr>
</table>

<%= load_achievement(@user)%>
<%= load_review(@user)%>
