<%= render :partial => "account_menu" %>

<div class="row">
  <div class ="span5">
    <h2>My Details</h2>
  </div>

  <div class ="span4" align="right">
    <%= image_tag @user.cover_image.thumb('200x250#').url if @user.cover_image_uid %>
  </div>
</div>

<table class = "table table-condensed">
  <tr>
    <th>Username</th><td><%= @user.username %></td>
  </tr>
  <tr>
    <th>Name</th><td><%= @user.name %></td>
  </tr>
  <tr>
    <th>Email</th><td><%= @user.email %></td>
  </tr>
  <tr>
    <th>DOB</th><td><%= @user.dob %></td>
  </tr>
  <tr>
    <th>Gender</th><td><%= @user.gender %></td>
  </tr>
  <tr>
    <th>Mobile No</th><td><%= @user.contact_mobile %></td>
  </tr>
  <tr>
    <th>Country</th><td><%= @user.country %></td>
  </tr>
  <tr>
    <th>Nationality</th><td><%= @user.nationality %></td>
  </tr>
</table>

<%= load_achievement(@user)%>
<%= load_review(@user)%>

My experience
<ul>
  <% @user.jobs.each do |uj| %>
    <li><%=uj.title%></li>
  <% end %>
</ul>

<% if @user != current_user %>
  <%= form_tag(reviews_path) do %>
    <%= text_field_tag :comment, nil %>
    <%= hidden_field_tag :username, current_user.username %>
    <%= hidden_field_tag :user_id, @user.id %>
    <%= button_tag "Comment" %>
  <% end %>
<% end %>
