<div class="row">
  <div class="small-12 large-12 columns">
  
    <div class="row">
      <div class="small-9 large-9 columns">
        <h2><%= @user.name%>'s Details</h2>
        <% if @user.image? %>
          <%= image_tag(@user.image_url(:thumb), class: "th") %>
        <% elsif !@user.fb_profile_pic.nil? %>
          <%= image_tag (@user.fb_profile_pic), :size => "70x70", :class => "th" %>
        <% else %>
          <%= image_tag("default-profile-photo.png", size: "70x70", class: "th") %>
        <% end %>
        
        <table>
          <tr><th>User Name :</th><td><%= @user.username%></td><tr>
          <tr><th>Name :</th><td><%= @user.name%></td><tr>
          <tr><th>Email :</th><td><%= @user.email%></td><tr>
          <tr><th>DOB :</th><td><%= @user.dob%></td><tr>
          <tr><th>Gender :</th><td><%= @user.gender%></td><tr>
          <tr><th>Phone :</th><td><%= @user.contact_mobile%></td><tr>
          <tr><th>Country :</th><td><%= @user.country%></td><tr>
          <tr><th>Nationality :</th><td><%= @user.nationality%></td><tr>
        </table>
      </div>
      
      <div class="small-3 large-3 columns">
        <%= link_to image_tag("cnt-ads.jpg", :size => "415x345", :class => "ads-border"), root_path%>
      </div>	
    </div>

    <%= render :partial => "shared/reviews", :locals =>{ :reviews => @reviews} %>
    <div class="pagination fright">
      <%= paginate @reviews %>
    </div>
    <% if current_user.nil? %>
      Please login to add comment
    <% else %>
      <%= render :partial => "shared/add_comment_form", :locals =>{ :post_to => @user} %>
    <% end %>
	   
  </div>
</div>	



