<%= render :partial => "account_menu" %>
<h2>My Details</h2>

<table class = "table table-condensed">
  <tr>
    <th>Username</th><td><%= @user.username %></td>
  </tr>
  <tr>
    <th>Name</th><td><%= @user.name %></td>
  </tr>
  <tr>
    <th>Email</th><td><%= @user.email %></td>
  </tr>
  <tr>
    <th>IC No</th><td><%= @user.ic_number %></td>
  </tr>
  <tr>
    <th>Contact</th><td><%= @user.contact_mobile%></td>
  </tr>
  <tr>
    <th>DOB</th><td><%= @user.dob %></td>
  </tr>
  <tr>
    <th>Gender</th><td><%= @user.gender %></td>
  </tr>
  <tr>
    <th>Mobile No</th><td><%= @user.contact_mobile %></td>
  </tr>
  <tr>
    <th>Home No</th><td><%= @user.contact_home %></td>
  </tr>
  <tr>
    <th>Address</th><td><%= @user.address_street1 %><br /><%= @user.address_street2 %></td>
  </tr>
  <tr>
    <th>Post Code</th><td><%= @user.post_code %></td>
  </tr>
  <tr>
    <th>State</th><td><%= @user.state %></td>
  </tr>
  <tr>
    <th>Country</th><td><%= @user.country %></td>
  </tr>
  <tr>
    <th>Nationality</th><td><%= @user.nationality %></td>
  </tr>
</table>

<%= load_achievement(@user)%>
<%= load_review(@user)%>

<% if @user != current_user %>
  <%= form_tag(reviews_path) do %>
    <%= text_field_tag :comment, nil %>
    <%= hidden_field_tag :username, current_user.username %>
    <%= hidden_field_tag :user_id, @user.id %>
    <%= button_tag "Comment" %>
  <% end %>
<% end %>
