<div class="row">
  <div class="small-12 large-12 columns">
    
	  <div class="row">
		  <div class="small-9 large-9 columns">
			  <div id="map_canvas" class="shadow-border" style="width:100%; height:372px;"></div>
		  </div>	
		  <div class="small-3 large-3 columns">
        <h3><%= current_user.city%></h3>
			  <p><%= (current_user.address.nil? ? "Address Not Available, please update your details." : current_user.address) %></p>
		  </div>
		  <hr>			
	  </div>
	  
	  <div class="row">
		  <div class="small-12 large-12 columns">
	      <h3>Near By</h3>
	      <div>
		      <table class="nearby">
			      <tr>
				      <th>Title</th>
				      <th>Pay</th>
				      <th>Distance</th>
				      <th>Start Date</th>
				      <th>How Many Days</th>
				      <th>Details</th>
			      </tr>
			      <% Job.near(current_user).each do |job| %>
              <tr>
                <td><%= job.title %></td>
                <td><%= number_to_currency(job.pay, :format => "RM %n") %>/<%= job.pay_per %></td>
                <td><%= '%.2f' % current_user.distance_to(job, :km)%> KM</td>
                <td><%= job.date.strftime('%d-%m-%Y') if job.date.present? %></td>
                <td><%= job.day_amount %> Days</td>
                <td class='details-more'><%= link_to 'See More', job%></td>
              </tr>
            <% end %>
		      </table>
	      </div>
		  </div>
		</div>

  </div>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBKCYyYFzM8EnWRKrX62dXCoaY4qjJNN0U&sensor=true">
</script>
<script type="text/javascript">
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= @lat %>, <%= @lon %>);
    var mapOptions = {
      center: new google.maps.LatLng(<%= @lat %>, <%= @lon %>),
      zoom: 10,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var infowindow = new google.maps.InfoWindow();
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    
    var image = new google.maps.MarkerImage('/assets/house_icon.png');
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        icon: image,
        title:"You are here!",
    });
    var infowindow = new google.maps.InfoWindow();
    infowindow.setContent('<h2 class="profile-title">You are here!</h2>');
    infowindow.open(map, marker);
   }
  
  
  $(function ()
    {
        initialize();
    }
  )
</script>
