<%= render :partial => "shared/left_navigator" %>
<%= render :partial => "shared/google_map_js", :locals =>{ :user => @user} %>
<div class="content-section">
	<h1 class="content-title tjob"> <i>&nbsp;</i> Jobs Listing</h1>
	<hr class="divider">
		<div class="map-details"> 
      <div id="map_canvas" class="shadow-border" style="width:900px; height:330px;"></div>
		</div>	
		<hr style="height:20px">
	<div>
		<table class="joblisting">
			<tr>
				<th class="recommend">&nbsp;</th>
				<th>Title</th>
				<th>Address</th>
				<th>Salary Per Day</th>
				<th>Start Date</th>
				<th>How Many Days</th>
				<th>Details</th>
			</tr>
			<% @jobs.each do |job| %>
        <tr>
          <td class="recommend"><%= image_tag('recommend-on.png', :size => "25x25")%></td>
          <td><%= job.title %></td>
          <td><%= job.address.truncate(30) %></td>
          <td>
              <% if job.salary == 0 || job.salary.nil? %>
                N/A
              <% else %>
                <%= number_to_currency(job.salary, :format => "RM %n") %>
              <% end %>
          </td>
          <td><%= job.date.strftime('%d-%m-%Y') if job.date.present? %></td>
          <td><%= job.day_amount %> Days</td>
          <td class='details-more'><%= link_to 'See More »', job %></td>
        </tr>
      <% end %>
		</table>
	</div>	
</div>	
