<p id="notice"><%= notice %></p>

<table class = "table table-condensed">
  <tr>
    <th>Title:</th>
    <td><%= @job.title %></td>
  </tr>
  <tr>
    <th>Post:</th>
    <td><%= @job.position %></td>
  </tr>
  <tr>
    <th>Location:</th>
    <td><%= @job.location %></td>
  </tr>
  <tr>
    <th>Salary Per day:</th>
    <td><%= number_to_currency(@job.salary, :format => "RM %n") %></td>
  </tr>
  <tr>
    <th>How Many Days:</th>
    <td><%= @job.day_amount %></td>
  </tr>
  <tr>
    <th>Work Time (Hours):</th>
    <td><%= @job.time %></td>
  </tr>
  <tr>
    <th>Requirements:</th>
    <td><%= @job.requirements %></td>
  </tr>
  <tr>
    <th>Who is working here:</th>
    <td>
      <% @job.users.each do |u|%>
        <%=link_to u.name, user_accounts_path(u) %>
      <% end %>
    </td>
  </tr>
  
  <tr>
    <th>Company Link:</th>
    <td><%= link_to 'Company Link', @job.company, :class => "btn btn-primary" %></td>
  </tr>
  
  <tr>
    <th></th>
    <td><%= link_to 'Apply', root_path, :class => "btn btn-primary" %> <%= link_to 'Back', jobs_path, :class => "btn" %></td>
  </tr>
  
</table>

