<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Location:</b>
  <%= @job.location %>
</p>

<p>
  <b>Salary:</b>
  <%= @job.salary %>
</p>

<p>
  <b>Date:</b>
  <%= @job.start_date %>
</p>

<p>
  <b>How Many Days:</b>
  <%= @job.day_amount %>
</p>

<p>
  <b>Time:</b>
  <%= @job.time %>
</p>

<p>
  <b>Requirements:</b>
  <%= @job.requirements %>
</p>
<p>
  <b>Who is working here:</b>
  <% @job.users.each do |u|%>
    <%= u.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
