<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Location:</b>
  <%= @job.location %>
</p>

<p>
  <b>Salary:</b>
  <%= @job.salary %>
</p>

<p>
  <b>Date:</b>
  <%= @job.date %>
</p>

<p>
  <b>Time:</b>
  <%= @job.time %>
</p>

<p>
  <b>Requirements:</b>
  <%= @job.requirements %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
