
<div class="row">
  <div class="small-12">
    <div class="row">
      <% if @job.errors.any? %>
        <% @coordinates_longitude = @company.coordinates_longitude %>
        <% @coordinates_latitude = @company.coordinates_latitude %>
        <div id="error_explanation" data-alert class="alert-box panel alert">
          <h4><%= pluralize(@job.errors.count, "error") %> prohibited this product from being saved:</h4>

          <ul>
          <% @job.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="small-12">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :title, class: 'right inline' %>
      </div>
      <div class="small-9 columns">
        <%= f.input_field :title, :placeholder => "Title"%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :position, class: 'right inline' %>
      </div>
      <div class="small-9 columns">
        <%= f.input_field :position, :placeholder => "Position"%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :address, class: 'right inline' %>
      </div>
      <div class="small-9 columns">
        <%= f.input_field :address, :placeholder => "Address"%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :coordinates_latitude, class: "right inline", label: "Latitute" %>
      </div>
      <div class="small-9 columns">
        <%= f.input_field :coordinates_latitude %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :coordinates_longitude, class: "right inline", label: "Longitude" %>
      </div>
      <div class="small-9 columns">
        <%= f.input_field :coordinates_longitude %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :pay, class: "right inline" %>
      </div>
      <div class="small-5 columns">
        <%= f.input_field :pay, :placeholder => "100" %>
      </div>
      <div class="small-4 columns">
        <%= f.input :pay_per,:label => false,:selected => "Per Day", :collection => [ "Per Day", "Per Hour"], :input_html => { :class => 'inputdetails' } %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :date, class: 'right inline', label: "Start Date" %>
      </div>
      <div class="small-9 columns">
        <%= f.input_field :date, :placeholder => "2020-12-31", id: 'dpd1'%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :day_amount, class: 'right inline', label: "Number of working days" %>
      </div>
      <div class="small-9 columns">
        <%= f.input_field :day_amount, :placeholder => "3"%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :requirements, class: 'right inline' %>
      </div>
      <div class="small-9 columns">
        <%= f.input_field :requirements, :placeholder => "Male Only, Over 25 Years", as: :text%>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
	  $('#dp1').fdatepicker({
		  format: 'yyyy-mm-dd'
	  });
		var nowTemp = new Date();
		var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
		$('#dpd1').fdatepicker({
		  format: 'yyyy-mm-dd',
			onRender: function (date) {
			  format: 'yyyy-mm-dd'
				return date.valueOf() < now.valueOf() ? 'disabled' : '';
			}
		});
  });
</script>
