<div class="row">
  <div class="small-12 large-12 columns">
		<h2> Edit Job Details </h2>
		<h4><%= @job.title %></h4>
		<hr>
	</div>
</div>
<div class="row">
  <div class="small-6 large-6 columns">
    <%= simple_form_for(@job, :url => user_account_company_job_path(@user, @company, @job), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
      <hr>
      <%= button_tag 'Save', class: "button small"%>
      <%= link_to "Back", :back, :class => "button secondary small"%>
    <% end %>
	</div>
	<div class="small-6 large-6 columns">
	  <%= render 'map' %>
	</div>
</div>
