<%= render :partial => "user/accounts/account_menu" %>
<h2>Jobs</h2>
<table class = "table table-condensed">
  <tr>
    <th>Title</th>
    <th>Position</th>
    <th>Location</th>
    <th>Salary</th>
    <th>Time</th>
    <th>Requirements</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Action</th>
  </tr>
  <% @jobs.each do |j| %>
    <tr>
      <td><%= j.title %></td>
      <td><%= j.position %></td>
      <td><%= j.location %></td>
      <td><%= j.salary %></td>
      <td><%= j.time %></td>
      <td><%= j.requirements %></td>
      <td><%= j.start_date %></td>
      <td><%= j.end_date %></td>
      <td>
        <%= link_to "View", user_account_company_job_path(@user, @company, j) %> | 
        <%= link_to "Edit", edit_user_account_company_job_path(@user, @company, j) %> | 
        <%= link_to "Delete", user_account_company_job_path(@user, @company, j), :confirm => "Are you sure?", :method=>:delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "New Job", new_user_account_company_job_path(@user, @company) %>
