<%= render :partial => "shared/left_navigator", :locals => {:current_link => "my_jobs_index"} %>
<div class="content-section">
	<h1 class="content-title tadd"> <i>&nbsp;</i> Jobs created by <%= @company.name %></h1>
	<hr class="divider">
	<div class="company-details">
    <table class="joblisting">
      <tr>
        <th>Title</th>
        <th>Position</th>
        <th>Address</th>
        <th>Pay</th>
        <th>Working Time (Hours)</th>
        <th>Date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @jobs.each do |j| %>
        <tr>
          <td><%= j.title %></td>
          <td><%= j.position %></td>
          <td><%= j.address %></td>
          <td><%= number_to_currency(j.pay, :format => "RM %n") %>/<%= j.pay_per %></td>
          <td><%= j.time %></td>
          <td><%= j.date %></td>
          <td class = "details-more"><%= link_to "View", user_account_company_job_path(@user, @company, j)%></td>
          <td class = "details-more"><%= link_to "Edit", edit_user_account_company_job_path(@user, @company, j)%></td>
          <td class = "details-more"><%= link_to "Delete", user_account_company_job_path(@user, @company, j), :confirm => "Are you sure?", :method=>:delete %></td></tr>
      <% end %>
    </table>
    <%= link_to "New Job", new_user_account_company_job_path(@user, @company), :class => "btn" %>
	</div>	
</div>
