<%= render :partial => "shared/left_navigator"%>
<div class="content-section">
	<h1 class="content-title tjob"> <i>&nbsp;</i> <%= @job.title %></h1>
  <table class="joblisting">
    <tr>
      <th>Post:</th><td><%= @job.position %></td>
    </tr>
    <tr>
      <th>Address:</th><td><%= @job.address %></td>
    </tr>
    <tr>
      <th>Coordinates Latitude:</th><td><%= @job.coordinates_latitude %></td>
    </tr>
    <tr>
      <th>Coordinates Longitude:</th><td><%= @job.coordinates_longitude %></td>
    </tr>
    <tr>
      <th>Pay</th><td><%= number_to_currency(@job.pay, :format => "RM %n") %>/<%= @job.pay_per %></td>
    </tr>
    <tr>
      <th>Start Date:</th><td><%= @job.date.strftime('%d-%m-%Y') %></td>
    </tr>
    <tr>
      <th>Working Days:</th><td><%= @job.day_amount %></td>
    </tr>
    <tr>
      <th>Job Requirements:</th><td><%= @job.requirements %></td>
    </tr>
    <tr>
      <th>Who is working here:</th>
      <td>
        <% @job.users.each do |u|%>
          <%=link_to u.name, user_accounts_path(u) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Who applied:</th>
      <td>
        <% @job.job_applications.where(:status => "pending").each do |a|%>
          <%= link_to a.username, user_accounts_path(a.username), :target => "_blank" %> applied on <%= a.created_at %>
        <% end %>
      </td>
    </tr>
  </table>
  <%= link_to 'Edit', edit_user_account_company_job_path(@user, @company, @job), :class => "btn company" %>
  <%= link_to :back, :class => "btn back" do%>
    <span>back</span>
  <% end %>
</div>
