<div class="row">
  <div class="small-12 large-12 columns">
	  <h1>Applying for <%= @job.title %></h1>
    <%= simple_form_for(@application, :url => job_job_applications_path) do |f| %>
      <%= f.input :applicant_description, :as => :text, :input_html => { :class => 'inputdetails' }, :label => "Tell us more about yourself" %>
      <%= f.submit 'Save', class: "button"%>
      <%= link_to "Back", :back, class: "button secondary"%>
    <% end %>
  </div>
</div>

