<%= render :partial => "shared/left_navigator", :locals => {:current_link => "application"} %>
<div class="content-section">
	<h1 class="content-title tjob"> <i>&nbsp;</i> <%= @application.username %>'s application</h1>
	<hr class="divider">
	<hr style="height:20px">
	<%= @application.username %> said :
  <div>
    <p><%= @application.applicant_description %></p>
	</div>
	
	<div class="company-details">
    <%= simple_form_for(@application, :url => job_job_applications_path, :html => { :method => :put }) do |f| %>
      <%= f.input :status, :as => :hidden, :input_html => { :value => "approved"  }%>
      <%= button_tag(type: 'submit', class: "btn save") do %>
        <span>Approve</span>
      <% end %>
      <%= link_to edit_job_job_applications_path(@application), :class => "btn cancel" do%>
        <span>Reject</span>
      <% end %>
    <% end %>
  </div>

</div>	

