<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBKCYyYFzM8EnWRKrX62dXCoaY4qjJNN0U&sensor=true">
</script>
<script type="text/javascript">
  function initialize(latitude, longitude) {
    var myLatlng = new google.maps.LatLng(latitude, longitude);
    var mapOptions = {
      center: new google.maps.LatLng(latitude, longitude),
      zoom: 10,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var infowindow = new google.maps.InfoWindow();
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    
    var image = new google.maps.MarkerImage('/assets/male_icon.png');
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        icon: image,
        title:"You are here!"
    });
    <% if !@address_lat.blank? %>
      var myAddLatlng = new google.maps.LatLng(<%=@address_lat%>, <%=@address_lon%>);
      var image2 = new google.maps.MarkerImage('/assets/house_icon.png');
      var marker = new google.maps.Marker({
          position: myAddLatlng,
          map: map,
          icon: image2,
          title:"Your Address is here!"
      });
    <% end %>

    
    var job = <%=raw @marker_array.to_json %>;

    $.ajax({url: "/home/show.js?lon="+longitude+"&lat="+latitude, 
       dataType: "json", 
       async: false
    }).done(function(data){
                  job = data
             });

    var marker, i;
    if (job.length > 0) { 
      for (i = job.length-1; i >= 0; i--) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(job[i][1], job[i][2]),
          map: map    
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            var contentString = '<h4>'+job[i][3]+'</h4>' + '<b>Pay : </b> RM' + job[i][4] + "/" + job[i][5]+ "</br><b>Date : </b>" + job[i][6] ;
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
          }
        })(marker, i));
        
        var contentString = '<h4>'+job[i][3]+'</h4>' + '<b>Pay : </b> RM' + job[i][4] +  "/" + job[i][5] + "</br><b>Date : </b>" + job[i][6] ;
        infowindow.setContent(contentString);
        infowindow.open(map, marker);
      }
    }
   }
   
  function showPosition(position)
  {
    initialize(position.coords.latitude, position.coords.longitude);
  }
  
  $(function ()
    { 
      if (navigator.geolocation)
        {
          navigator.geolocation.getCurrentPosition(showPosition);
        }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
      showPosition({coords:{longitude: <%= @lon %>,latitude: <%= @lat%>}});

    }
  )
  
</script>
