<div class="row">
  <div class="small-8 large-8 columns">
  
    <h2>Discussions</h2>
    <% if reviews.count != 0 %>
      <% reviews.each do |review| %>
        <div class="row">
        
          <div class="small-2 large-2 columns">
            <% if review.poster && review.poster.image? %>
              <%= image_tag(current_user.image_url(:comment_picture), class: "th") %>
            <% elsif review.poster && !review.poster.fb_profile_pic.nil? %>
              <%= image_tag (review.poster.fb_profile_pic), :size => "40x40", :class => "th" %>
            <% else %>
              <%= image_tag("default-profile-photo.png", size: "40x40", class: "th") %>
            <% end %>
          </div>
          
          <div class="small-10 large-10 columns">
          
            <div class = 'row'>
              <div class="small-12 large-12 columns">
                <b><%= review.poster.name %></b> - 
                <span><%= review.created_at.to_date.to_s %></span> - 
                <span>
                  <% rating_title = ["Bad", "Poor", "Regular","Good","Awesome"] %>
                  <% count = 0 %>
                  <% while (count < (review.rating||0)) %>
                     <%= image_tag("ratings-on.png", :title => "#{rating_title[count]}", :size => "15x15", :class => "rating-star") %>
                    <% count = count + 1 %>
                  <% end %>
                  <% while (count != 5) %>
                    <%= image_tag("ratings-off.png", :title => "#{rating_title[count]}", :size => "15x15", :class => "rating-star") %>
                    <% count = count + 1 %>
                  <% end %>
                </span>
              </div>
            </div>
            
            <div class = "row">
              <div class="small-12 large-12 columns">
                <p><%= review.comment %></p>
              </div>
            </div>
            
            
          </div>
          
          
          
        </div>
      <% end %>
      <hr>
    <% else %>
      This user/company got no review yet.
      <hr>
    <% end %>
  </div>
</div>
