<%= render :partial => "user/accounts/account_menu" %>
<h2>Achievements</h2>
<table>
  <tr>
    <th colspan="4">Achievement / Work Experience</th>
  </tr>
  <% count_no = 1 %>
  <% @achievements.each do |a| %>
    <tr>
      <td><%= count_no %></td>
      <td><%= a.name %></td>
      <td><%= a.date_joined %> - <%= a.date_left %></td>
      <td>[<%= link_to "Edit", edit_user_account_achievement_path(current_user, a) %> | <%= link_to "Delete", user_account_achievement_path(current_user, a), :confirm => "Are you sure?", :method=>:delete %>]</td>
    </tr>
  <% end %>
</table>
<%= link_to "Add More", new_user_account_achievement_path %>
