<%= render :partial => "shared/google_map_js", :locals =>{ :user => @user} %>
<div class="content-area">
	<div class="search_section ">
		<div class="search-col">
		  <span class="inputtitle _block ">What you want to work ?:</span>
		  <input type="text" class="inputfield" name="keyword" value="Enter the keyword">
		</div>

		<div class="search-col">
			 <span class="inputtitle _block ">Select field of work</span>
 			<select name="fieldlist" form="fieldform">
			  <option value="Car">Car</option>
			  <option value="Jewelly">Jewelly</option>
			  <option value="Food">Food</option>
			  <option value="Drink">Drink</option>
			</select>
		</div>

		<div class="search-col">
			<span class="inputtitle _block ">Select State</span>
			<select name="statelist" form="stateform">
			  <option value="Kuala Lumpur">Kuala Lumpur</option>
			  <option value="Selangor">Selangor</option>
			  <option value="Petaling Jaya">Petaling Jaya</option>
			  <option value="Subang Jaya">Subang Jaya</option>
			</select>
		</div>

  	<a class="btn search " href="welcome.html">
		  <span>Search</span>
    </a>

	</div>

	<div class="video_section shadow-border">
		<div class="video-player">
		  <div id="map_canvas" class="map-container" style="width:680px; height:390px;"></div>
		</div>

		<div class="opt-signup">
			<p><strong>Get started just as simple as clicking on sign in with facebook</strong></p>
			<hr style="height:20px;">
			<%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
         <span class="facebook-btn"><%= link_to "", omniauth_authorize_path(resource_name, provider) %></span><br />
        <% end -%>
      <% end -%>
		</div>
	</div>	

	<div class="ads_section">
		<div class="_col _left">
      <%= link_to "Job List", jobs_path, :class => "img left shadow-border" %>
		</div>

		<div class="_col _middle">
      <%= link_to "Companies List", companies_path, :class => "img left shadow-border" %>
		</div>
		<div class="_col _right">
      <%= link_to "Users List", users_path, :class => "img left shadow-border" %>
		</div>

	</div>

</div>


