<%= render :partial => "shared/google_map_js", :locals =>{ :user => @user} %>
<%#= render :partial => "shared/login_form" %>
<div class="content-area">
	<div class="search_section ">
	  <%= form_tag search_path, :method => "get" do |f| %>
		  <div class="search-col">
		    <span class="inputtitle _block ">You can search for any keyword ?:</span>
		    <%= text_field_tag :search,"#{params[:search]}",  :class => 'inputfield', :placeholder => 'Search...' %>
		  </div>
      
      <%= submit_tag("Search", :class => "btn search")%>
    <% end %>
	</div>

	<div class="video_section shadow-border">
		<div class="video-player">
		  <div id="map_canvas" class="map-container" style="width:680px; height:390px;"></div>
		</div>

		<div class="opt-signup">
      <%if !user_signed_in?%>
			  <p><strong>Get started just as simple as clicking on sign in with facebook</strong></p>
		    <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
           <%= link_to "", omniauth_authorize_path(resource_name, provider), :class => "facebook-btn" %>
          <% end -%>
        <% end -%>
      <% else %>
			  <p><strong>Welcome! Let’s get started by locating jobs, placing jobs or updating your profile status</strong></p>
      <% end %>
      <hr style="height:20px;">
		</div>
	</div>	

	<div class="ads_section">
		<div class="_col _left">
      <%= link_to "Job List", jobs_path, :class => "img left shadow-border" %>
		</div>

		<div class="_col _middle">
      <%= link_to "Companies List", companies_path, :class => "img left shadow-border" %>
		</div>
		<div class="_col _right">
      <%= link_to "Users List", users_path, :class => "img left shadow-border" %>
		</div>

	</div>

</div>


