<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address_street1 %><br />
    <%= f.text_field :address_street1 %>
  </div>
  <div class="field">
    <%= f.label :address_street2 %><br />
    <%= f.text_field :address_street2 %>
  </div>
  <div class="field">
    <%= f.label :post_code %><br />
    <%= f.text_field :post_code %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :contact_mobile %><br />
    <%= f.text_field :contact_mobile %>
  </div>
  <div class="field">
    <%= f.label :contact_home %><br />
    <%= f.text_field :contact_home %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.text_field :dob %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :nationality %><br />
    <%= f.text_field :nationality %>
  </div>
  <div class="field">
    <%= f.label :ic_number %><br />
    <%= f.text_field :ic_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
