<h1>My Companies</h1>

<table class ="table">
  <tr>
    <th>Name</th>
    <th>Address street1</th>
    <th>Address street2</th>
    <th>Post code</th>
    <th>State</th>
    <th>Country</th>
    <th>Contact mobile</th>
    <th>Contact office</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.address_street1 %></td>
    <td><%= company.address_street2 %></td>
    <td><%= company.post_code %></td>
    <td><%= company.state %></td>
    <td><%= company.country %></td>
    <td><%= company.contact_mobile %></td>
    <td><%= company.contact_office %></td>
    <td><%= link_to 'Show', company, :class => "btn btn-primary" %></td>
    <td><%= link_to 'Edit', edit_company_path(company), :class => "btn btn-info"%></td>
    <td><%= link_to 'Destroy', company, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
