<h1>Companies list</h1>

<table class ="table">
  <tr>
    <th>Name</th>
    <th>Post code</th>
    <th>Address</th>
    <th>State</th>
    <th>Country</th>
    <th>Contact mobile</th>
    <th>Contact office</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.address %></td>
    <td><%= company.post_code %></td>
    <td><%= company.state %></td>
    <td><%= company.country %></td>
    <td><%= company.contact_mobile %></td>
    <td><%= company.contact_office %></td>
    <td><%= link_to 'Show', company, :class => "btn btn-primary" %></td>
  </tr>
<% end %>
</table>

<br />
