<p id="notice"><%= notice %></p>
<table class = "table table-condensed">
  <tr>
    <th>Company Name</th>
    <td><%= @company.name %></td>
  </tr>
  <tr>
    <th>Address</th>
    <td>
      <%= @company.address_street1 %><br />
      <%= @company.address_street2 %>
    </td>
  </tr>
  <tr>
    <th>Post Code</th>
    <td><%= @company.post_code %></td>
  </tr>
  <tr>
    <th>State</th>
    <td><%= @company.state %></td>
  </tr>
  <tr>
    <th>Country</th>
    <td><%= @company.country %></td>
  </tr>
  <tr>
    <th>Mobile</th>
    <td><%= @company.contact_mobile %></td>
  </tr>
  <tr>
    <th>Office</th>
    <td><%= @company.contact_office %></td>
  </tr>
</table>

<h3>Jobs Created by this company</h3>
<% if @jobs.present? %>
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Salary Per day</th>
      <th>Start Date</th>
      <th>How Many Days</th>
      <th></th>
    </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.location %></td>
      <td>
          <% if job.salary == 0 || job.salary.nil? %>
            N/A
          <% else %>
            <%= number_to_currency(job.salary, :format => "RM %n") %>
          <% end %>
      </td>
      <td><%= job.date.to_date %></td>
      <td><%= job.day_amount %> Days</td>
      <td><%= link_to 'See More', job, :class => "btn btn-primary" %></td>
    </tr>
  <% end %>

<% else %>
  <tr>
    <td colspan="9">Sorry No Results Found.</td>
  </tr>
<% end %>
</table>

<%= load_review(@company)%>
