<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal"}) do |f| %>

  <%= f.input :email %></div>
  <%= f.input :password %></div>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>
    Remember Me
  <% end -%>

  <div class="form-actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
