<%= f.input :name, :input_html => { :class => 'inputdetails' }, :wrapper => false %>
<%= f.input :address, :hint => "Your address must be readable by google", :input_html => { :class => 'inputdetails' }  %>
<%= f.input :contact_mobile, :input_html => { :class => 'inputdetails' } %>
<%= f.input :contact_office, :input_html => { :class => 'inputdetails' } %>
<%= f.input :coordinates_latitude, :input_html => { :class => 'inputdetails' } %>
<%= f.input :coordinates_longitude, :input_html => { :class => 'inputdetails' } %>

<% if f.object.cover_image_uid %>
  <%= image_tag f.object.cover_image.thumb('100x100').url %>
<% end %>

<%= f.label :cover_image, "Photo", :for=>"user_contact_mobile" %>
<%= f.file_field :cover_image %>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBKCYyYFzM8EnWRKrX62dXCoaY4qjJNN0U&sensor=true">
</script>

<script type="text/javascript">
  function initialize(latitude,longitude) {
    geocoder = new google.maps.Geocoder();
    var myLatlng = new google.maps.LatLng(latitude,longitude);
    var myCoordsLenght = 6;
    var mapOptions = {
      center: new google.maps.LatLng(latitude,longitude),
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        draggable: true,
        title:"Is your location here?"
    });
    
    google.maps.event.addListener(marker, 'dragend', function(evt){
      var latlng = new google.maps.LatLng(evt.latLng.lat(), evt.latLng.lng());
      $('#company_coordinates_latitude').val(evt.latLng.lat().toFixed(myCoordsLenght));
      $('#company_coordinates_longitude').val(evt.latLng.lng().toFixed(myCoordsLenght));
      initialize(evt.latLng.lat().toFixed(myCoordsLenght), evt.latLng.lng().toFixed(myCoordsLenght));
      
      geocoder.geocode({'latLng': latlng}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results[0]) {
            $('#company_address').val(results[0].formatted_address);
          }
        } else {
          alert("Geocoder failed due to: " + status);
        }
      });
      
    });
    map.setCenter(marker.position);
    marker.setMap(map);
  }

  function showPosition(position)
    {
    $('#company_coordinates_latitude').val(position.coords.latitude);
    $('#company_coordinates_longitude').val(position.coords.longitude);
    initialize(position.coords.latitude, position.coords.longitude);
    }
  
  $(function ()
      {
       showPosition({coords:{longitude: <%= @coordinates_longitude  %>,latitude: <%= @coordinates_latitude %> }}); 
      if (navigator.geolocation)
        {
        navigator.geolocation.getCurrentPosition(showPosition);
        }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
      
      }
    )
</script>


<div id="map_canvas" style="width:500px; height:500px;"></div>

