<div class="row">
  <div class="small-12 large-12 columns">
  
    <div class="row">
      <div class="small-12 large-12 columns">
	      <h3> Edit Details </h3>
        <% if @company.image? %>
          <%= image_tag(@company.image_url(:thumb), class: "th") %>
        <% else %>
          <%= image_tag("default-company-photo.png", size: "100x100", class: "th") %>
        <% end %>
	      <h3><%= @company.name %></h3>
		    <hr>
		  </div>
		</div>

	  <div class="row">
	    <div class="small-6 large-6 columns">
        <%= simple_form_for(@company, :url => user_account_company_path(current_user, @company), :html => { :method => :put }) do |f| %>
          <%= render :partial => 'form', :locals => {:f => f} %>
          <hr>
          <%= button_tag 'Save', class: "button small"%>
          <%= link_to "Back", :back, :class => "button secondary small"%>
        <% end %>
      </div>
      
      <div class="small-6 large-6 columns">
        <%= render 'map' %>
      </div>
	  </div>
	  
	  
  </div>
</div>
