<div class="row">
  <div class="small-12 large-12 columns">
    <h2>Companies under <%= current_user.name %></h1>
    <hr>
      <table>
	      <tr>
		      <th></th>
		      <th>Company Name</th>
		      <th>Address</th>
		      <th>Mobile</th>
		      <th>Office</th>
		      <th>&nbsp;</th>
	      </tr>
        <% count_no = 1 %>
        <% @companies.each do |c| %>
          <tr>
            <td><%= count_no %></td>
            <td><%= c.name %></td>
            <td><%= c.address.truncate(30) %></td>
            <td><%= c.contact_mobile %></td>
            <td><%= c.contact_office %></td>
            <td><%= link_to "View", user_account_company_path(current_user, c), class: "small button" %></td>
          </tr>
          <%count_no = count_no + 1%>
        <% end %>
      </table>
      <hr>
      <%= link_to "New Company", new_user_account_company_path(current_user), :class => "small button" if @user == current_user %>
  </div>
</div>
