<%= render :partial => "user/accounts/account_menu" %>
New Company
<%= simple_form_for(@company, :url => user_account_companies_path(current_user), :html => { :class => "form-horizontal" }) do |f| %>
  
  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <div class="form-actions">
    <%= f.submit "Create", :class => "btn btn-primary"%>
    <%= link_to "Back", :back, :class => "btn btn-info" %>
  </div>
<% end %>
