<%= render :partial => "user/accounts/account_menu" %>

<h3>Who you want to add?</h3>
<table class ="table table-condensed">
<% User.all.each do |u| %>
  <tr>
    <td><%= u.name%></td>
    <td><%= link_to 'Add Member', create_member_user_account_company_path(current_user, @company, :member => u), :class => "btn btn-primary" %></td>
  </tr>
<% end %>
</table>

<%= simple_form_for(@company, :url => create_member_user_account_company_path(current_user, @company), :html => { :class => "form-horizontal" }) do |f| %>
  
  <%= f.input :group_user,:input_html => { :data => {autocomplete_source: User.all.order(:name).map(&:name)} } %>
  
  <div class="form-actions">
    <%= f.submit "Add", :class => "btn btn-primary"%>
    <%= link_to "Back", :back, :class => "btn btn-info" %>
  </div>
<% end %>
