<div class="row">
  <div class="small-12 large-12 columns">
  
    <div class = "row">
      <div class="small-12 large-12 columns">
	      <h3><%= @company.name %></h3>
	      <ul class="button-group">
          <li><%= link_to "Update company details", edit_user_account_company_path(current_user, @company), :class => "small button" %></li>
          <!-- <li><%#= link_to "Add Member", new_member_user_account_company_path(current_user, @company), :class => "small button" if @user.is_company_admin?(@company._id) %></li> -->
          <li><%= link_to "View all job by this company", user_account_company_jobs_path(@user, @company), :class => "small button" %></li>
          <li><%= link_to "New Job", new_user_account_company_job_path(@user, @company), :class => "small button" %></li>
          <li><%= link_to "Find Users", users_path, :class => "small button" %></li>
          <li><%#= link_to "Delete", user_account_company_path(current_user, @company), :confirm => "Are you sure?", :method=>:delete, :class => "small button alert" if current_user.is_company_admin?(@company._id) %></li>
        <ul>
      </div>
    </div>
    <div class = "row">
      <div class="small-7 large-7 columns">
        <table>
          <tr>
            <th>Address</th><td><%= @company.address %></td>
          </tr>
          <tr>
            <th>State</th><td><%= @company.state %></td>
          </tr>
          <tr>
            <th>Country</th><td><%= @company.country %></td>
          </tr>
          <tr>
            <th>Mobile</th><td><%= @company.contact_mobile %></td>
          </tr>
          <tr>
            <th>Office</th><td><%= @company.contact_office %></td>
          </tr>
          <tr>
            <th>Photo</th>
            <td>
              <% if @company.image? %>
                <%= image_tag(@company.image_url(:thumb), class: "th") %>
              <% else %>
                <%= image_tag("default-company-photo.png", size: "100x100", class: "th") %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
      <div class="small-5 large-5 columns">
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@company.coordinates_latitude}%2C#{@company.coordinates_longitude}" %>
      </div>
    </div>

    <div class = "row">
      <div class="small-12 large-12 columns">
        <h3>Members</h3>
        <% if !@company.members.blank?%>
          <table class="joblisting">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Action</th>
            </tr>
            <% @company.members.each do |m| %>
              <tr>
                <td><%= m.name %></td>
                <td><%= m.email %></td>
                <td><%= m.contact_mobile %></td>
                <td class='details-more'><%= link_to "Delete", delete_member_user_account_company_path(@user, @company, :member => m.username), :confirm => "Are you sure?", :method=>:delete if current_user.is_company_admin?(@company._id) %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          There is currently no other members in the company
        <% end %>
      </div>
    </div>
    
    <div class = "row">
      <div class="small-12 large-12 columns">
        <h3>Jobs created by this company</h3>
        <% if !@company.jobs.blank? %>
          <table class="joblisting">
            <tr>
              <th>Title</th>
              <th>Address</th>
              <th>Pay</th>
              <th>Start Date</th>
              <th>How Many Days</th>
              <th></th>
              <th></th>
            </tr>
            <% @company.jobs.each do |job|%>
                <tr>
                  <td><%= job.title %></td>
                  <td><%= job.address.truncate(35) %></td>
                  <td><%= number_to_currency(job.pay, :format => "RM %n") %>/<%= job.pay_per %></td>
                  <td><%= job.date.to_date if !job.date.nil? %></td>
                  <td><%= job.day_amount %> Days</td>
                  <td class='details-more'><%= link_to "View", user_account_company_job_path(@user, @company, job)%></td>
                  <td class='details-more'><%= link_to "Edit", edit_user_account_company_job_path(@user, @company, job)%></td>
                </tr>
            <% end %>
          </table>
        <% else %>
          There is currently no jobs created by this company
        <% end %>
      </div>
    </div>
    <%#= load_review(@company.reviews)%>
    <div class = "row">
      <div class="small-12 large-12 columns">
        <h3>Pending Job Applicants</h3>
        <% if !@company.job_applications.where(:status => "pending").blank? %>
          <table class="joblisting">
            <tr>
              <th>Username</th>
              <th>Jobs Applied</th>
              <th></th>
            </tr>
            <% @company.job_applications.where(:status => "pending").each do |applicant|%>
              <tr>
                  <td><%= applicant.username %></td>
                  <td><%= applicant.job.title %></td>
                  <td class='details-more'><%= link_to "View", job_job_applications_path(applicant)%></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          There is currently no job applicant for this company
        <% end %>
      </div>
    </div>
    
  </div>
</div>
