<%= render :partial => "shared/left_navigator" %>
<div class="content-section">
  <%= render :partial => "user/accounts/account_menu", :locals =>{ :step => 'ratings'} %>
	<div class="rating-section clear">
		<h1 class="content-title trating"> <i>&nbsp;</i> My Ratings</h1>
		<hr class="divider dashed">
    <% @reviews.each do |r| %>
      <div class="reviews">
        <%= image_tag("default-profile-photo.png", :size => "40x40", :class => "reviews-img")%>
        <div class="reviews-details">
          <h5><%= r.poster.name %></h5>
          <span class="reviews-date"><%= r.created_at.to_date %></span>
				  <span class="reviews-rating">
				    <%= image_tag("ratings-on.png", :title => "Bad", :size => "15x15", :class => "rating-star")%>
				    <%= image_tag("ratings-on.png", :title => "Poor", :size => "15x15", :class => "rating-star")%>
				    <%= image_tag("ratings-off.png", :title => "Regular", :size => "15x15", :class => "rating-star")%>
				    <%= image_tag("ratings-off.png", :title => "Good", :size => "15x15", :class => "rating-star")%>
				    <%= image_tag("ratings-off.png", :title => "Awesome", :size => "15x15", :class => "rating-star")%>	
				  </span>
				  <p class="reviews-comment"><%= r.comment %></p>
				</div>
			</div>
			<hr class="divider dashed">
    <% end %>
  </div>
</div>
